
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
    
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF91AC;
    padding: 10px 40px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
    margin-right: 8px;
}
.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #5E0124;
}

/* Ô tìm kiếm */
.search-box {
    display: flex;
    align-items: center;
}
.search-box input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 400px;
}
.search-box button {
    background-color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 5px 10px;
    cursor: pointer;
}
.top-links a {
    color: black;                    
    text-decoration: none;         
    display: flex;
    align-items: center;
    font-size: 25px;
}
.top-links a {
    gap: 5px;
}
.top-links a:hover {
    color: #ffe6ec;                 
}
/* ===== CONTAINER ===== */
.container {
    display: flex;
    height: calc(100vh - 60px);
}

/* ===== SIDEBAR ===== */
.sidebar {
    width: 260px;
    background: #ffe0ea;
    padding: 20px;
    height: 100%;
}

.sidebar h3 {
    margin-top: 10px;
    font-size: 18px;
}
.sidebar h3 a{
    list-style: none;
    text-decoration: none;
}
.sidebar ul {
    list-style: none;
    margin: 10px 0 20px 10px;
}

.sidebar ul li {
    margin: 6px 0;
    cursor: pointer;
}

.logout {
   margin-top: 30px;
    background: #ff6680;
    border: none;
    padding: 10px;
    width: 100%;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* ===== MAIN ===== */
.main-content {
    flex: 1;
}

/* ===== TAB ĐƠN HÀNG ===== */
.order-tabs {
    background-color: #FFEBEF;
    display: flex;
    border-bottom: 2px solid #ffe6ee;
    margin-bottom: 10px;
    
}

.order-tabs a {
    padding: 10px 80px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    
}

.order-tabs a.active {
    color: #ff4d79;
    border-bottom: 3px solid #ff4d79;
}

/* ===== ORDER ITEM ===== */
.order-list h3 {
    margin-bottom: 10px;
}

.order-item {
    display: grid;
    grid-template-columns: 80px 1fr 100px 120px;
    align-items: center;
    background: #f6f6f6;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.order-item img {
    width: 70px;
    border-radius: 4px;
}

.order-info p {
    font-weight: bold;
}

.order-info span {
    font-size: 13px;
    color: #777;
}
.order{
    color: red;
}

.price {
    text-align: right;
}

.status {
    color: #ff4d79;
    text-align: right;
}

/* ===== ORDER SUMMARY ===== */
.order-summary {
    background: #f6f6f6;;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ffe6ee;
}

.actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 7px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn.pink {
    background: #ff85a2;
    color: white;
}

.btn.light {
    background: #ffe0eb;
    color: black;
}

