/* Tổng thể */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF91AC;
    padding: 10px 40px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
    margin-right: 8px;
}
.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #5E0124;
}

/* Ô tìm kiếm */
.search-box {
    display: flex;
    align-items: center;
}
.search-box input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 200px;
}
.search-box button {
    background-color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 5px 10px;
    cursor: pointer;
}

/* Liên hệ - giỏ hàng - đăng nhập */
.top-links ul {
    list-style: none;               /* Bỏ dấu chấm đầu dòng */
    display: flex;                  /* Hiển thị ngang */
    gap: 20px;                      /* Khoảng cách giữa các mục */
    margin: 0;
    padding: 0;
    align-items: center;            /* Căn giữa icon và chữ */
}

.top-links li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-links a {
    color: black;                    
    text-decoration: none;         
    display: flex;
    align-items: center;
}
.top-links a {
    gap: 5px;
}
/* Hiệu ứng hover nhẹ */
.top-links a:hover {
    color: #ffe6ec;                 
}
/* Khung chính */
.container {
    width: 100%;
    overflow: hidden;
}
.container a{
    list-style: none;
    text-decoration: none;
}

.header {
    background-color: #FFEBEF;
    color: #000;
    padding: 12px 15px;
    font-weight: bold;
    font-size: 18px;
}


.title {
    display: flex;
    background-color: #ffe0ea;
    padding: 12px 15px;
    font-weight: bold;
    align-items: center;
}

/* Các cột trong tiêu đề */
.title .col {
    flex: 1;
    text-align: center;
}

/* Cột sản phẩm rộng hơn */
.title .product {
    flex: 2;
    text-align: left;
    padding-left: 20px;
}

/* Danh sách sản phẩm */
.list {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

/*sản phẩm */
.cart-item {
    display: flex;
    align-items: center;
    background-color: #ffeaf0;
    padding: 20px;
    border-top: 3px solid #fff;
    border-radius: 10px;

}

.cart-item .col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cột sản phẩm */
.cart-item .col-product {
    flex: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    justify-content: flex-start;
}


.col-product img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

/* Cột số lượng */
.Soluong {
    display: flex;
    align-items: center;
}

.Soluong button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: rgb(183, 183, 179);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.Soluong input {
    width: 30px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.delete {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

/* Tổng tiền */
.Thanhtoan{
    background-color: #ffe0ea;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Thanhtoan p {
    margin: 0;
    font-weight: bold;
}

.Tongtien {
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkout {
    background-color: #ff4d80;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
/*Footer  */
footer {
    background-color: #FF91AC;
    color: black;
    padding: 20px 40px;
    
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-container h3 {
    margin-bottom: 8px;
}
.footer-container p {
    margin: 4px 0;
}
