body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF91AC;
    padding: 10px 40px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
    margin-right: 8px;
}
.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #5E0124;
}

/* Ô tìm kiếm */
.search-box {
    display: flex;
    align-items: center;
}
.search-box input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    width: 200px;
}
.search-box button {
    background-color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 5px 10px;
    cursor: pointer;
}

/* Liên hệ - giỏ hàng - đăng nhập */
.top-links ul {
    list-style: none;               /* Bỏ dấu chấm đầu dòng */
    display: flex;                  /* Hiển thị ngang */
    gap: 20px;                      /* Khoảng cách giữa các mục */
    margin: 0;
    padding: 0;
    align-items: center;            /* Căn giữa icon và chữ */
}

.top-links li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-links a {
    color: black;                    
    text-decoration: none;         
    display: flex;
    align-items: center;
}
.top-links a {
    gap: 5px;
}
/* Hiệu ứng hover nhẹ */
.top-links a:hover {
    color: #ffe6ec;                 
}
/* Thanh menu */
.navbar {
    background-color:#FFD6E0;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
}
.navbar li {
    margin: 0 15px;
}
.navbar a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.navbar a:hover {
    text-decoration: underline;
}

/*Banner */
.banner img {
    display: flexbox;  
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

/* Sản phẩm */
.product-section {
    padding: 30px 50px;
    text-align: center;
}
.product-section h2 {
    color: #ff4d88;
}
.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.product {
    width: 150px;
    border-radius: 10px;
    background: #ffe6ec;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product img {
    width: 150px;
    height:200px;
    border-radius: 10px;
}
.product p {
    font-size: 14px;
    margin: 10px 0 5px 0;
}
.product .mua{
    background-color: rgb(254, 39, 39);
    border:none;
    color: white;
}
.product .mua:hover{
    background-color: #b70101ea;
}
.price {
    font-weight: bold;
    color: #ff3366;
}

/*Footer  */
footer {
    background-color: #FF91AC;
    color: black;
    padding: 20px 40px;
    
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-container h3 {
    margin-bottom: 8px;
}
.footer-container p {
    margin: 4px 0;
}
